{% extends 'base.html' %} {% block content %} 


<form action="{{url_for('add_tea_to_list')}}" method="POST">
    {% for teatype in teatypes %}
    <input value="{{ teatype.tea_name}}" name="tea_name"/>
    {% endfor %}
    <select name="list_name" id="list_name">
                    <option value="" disabled selected>Choose your option</option>
                    {% for list in lists %}
                    <option value="{{list.list_name}}">{{ list.list_name }}</option>
                    {% endfor %}
                    </select>
    <button class="btn waves-effect waves-light" type="submit">Add</button> 
</form>

{% endblock %}
