<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Time For Tea</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center green-text">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Tea</a></li>
                <li><a href="">Why Drink Tea?</a></li>
                {% if session.username %}
                <li><a href="{{ url_for('show_lists') }}">My Lists</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>

                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="">Home</a></li>
                <li><a href="">Tea</a></li>
                <li><a href="">Why Drink Tea?</a></li>
                {% if session.username %}
                <li><a href="#">Log Out</a></li>
                {% else %}
                <li><a href="#">Log In</a></li>
                <li><a href="#">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('.modal').modal();
            $('select').material_select();
        });
    </script>
</body>

</html>
