{% extends 'base.html' %} {% block content %} {% for list in lists %}

<div class="container">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">{{list.list_name}}: {{list.list_description}}</div>
            <a href="{{url_for('delete_list', list_id=list._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
            <a href="{{url_for('edit_list', list_id=list._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
            <div class="collapsible-body">{{list.tea_name}}</div>
        </li>
    </ul>
</div>
{% endfor %}
<div class="container">
    <a href="{{url_for('add_list')}}" class="waves-effect waves-light btn">Create New List</a> {% endblock %}
</div>
