{% extends 'base.html'%} {% block content %}

    <div class="row">
        <form class="col s12 l6 offset-l3" method=POST action="{{ url_for('register') }}">
            <div class="row">
                <div class="input-field col s12">
                  <input name="username" type="text" class="validate">
                  <label>Username</label>
                </div>
            </div>  
            <div class="row">
                <div class="input-field col s12">
                  <input name="password" type="password" class="validate">
                  <label>Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" name="action" class="btn waves-effect waves-light">Register
                    <i class="material-icons right">person_add</i>
                </button>
            </div>
        </form>
        
    </div>
    
{% endblock %}